{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">
  <div class="content">
    {% if current_user.prevLogin %}
    <h2>Útimo inicio de sesión: {{current_user.prevLogin}}</h2>

    {% endif %}
    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-money-coins text-info"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Total del Dia</p>
                  <p class="card-title">${{totalVentasHoy}}
                  <p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-calendar-o"></i>
              Hoy
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-money-coins text-success"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Total de ventas</p>
                  <p class="card-title">${{totalVentasDosSem}}
                  <p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-calendar-o"></i>
              Las últimas dos semanas
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-paper text-danger"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Compras de día</p>
                  <p class="card-title">{{totalComprasHoy}}
                  <p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-calendar-o"></i>
              Hoy
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-paper text-primary"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Total de compras</p>
                  <p class="card-title">{{totalComprasDosSem}}
                  <p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-calendar-o"></i>
              Las últimas dos semanas
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Users Behavior</h5>
            <p class="card-category">24 Hours performance</p>
          </div>
          <div class="card-body ">
            <canvas id=chartHours width="400" height="100"></canvas>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-history"></i> Updated 3 minutes ago
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Productos Vendidos</h5>
            <p class="card-category">En las últimas dos semanas</p>
          </div>
          <div class="card-body ">
            <canvas id="chartEmail"></canvas>
          </div>
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Presentaciones Vendidas</h5>
            <p class="card-category">En las últimas dos semanas</p>
          </div>
          <div class="card-body ">
            <canvas id="chartPres"></canvas>
          </div>
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Productos Mermados</h5>
            <p class="card-category">En las últimas dos semanas</p>
          </div>
          <div class="card-body ">
            <canvas id="chartMerma"></canvas>
          </div>
          
        </div>
      </div>
      <!-- <div class="col-md-8">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-title">NASDAQ: AAPL</h5>
            <p class="card-category">Line Chart with Points</p>
          </div>
          <div class="card-body">
            <canvas id="speedChart" width="400" height="100"></canvas>
          </div>
          <div class="card-footer">
            <div class="chart-legend">
              <i class="fa fa-circle text-info"></i> Tesla Model S
              <i class="fa fa-circle text-warning"></i> BMW 5 Series
            </div>
            <hr />
            <div class="card-stats">
              <i class="fa fa-check"></i> Data information certified
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  {% endblock body %}
  {% block tail %}

  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{ url_for('static', filename='assets/js/core/popper.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='assets/js/plugins/perfect-scrollbar.jquery.min.js') }}"
    type="text/javascript"></script>
  <script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='assets/js/plugins/bootstrap-notify.js') }}"
    type="text/javascript"></script>

  <script src="{{ url_for('static', filename='assets/js/paper-dashboard.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='assets/demo/demo.js') }}" type="text/javascript"></script>
  <script>
    $(document).ready(function () {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js

      chartColor = "#FFFFFF";
      /*
            ctx = document.getElementById('chartHours').getContext("2d");
      
            myChart = new Chart(ctx, {
              type: 'line',
      
              data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct"],
                datasets: [{
                  borderColor: "#6bd098",
                  backgroundColor: "#6bd098",
                  pointRadius: 0,
                  pointHoverRadius: 0,
                  borderWidth: 3,
                  data: [300, 310, 316, 322, 330, 326, 333, 345, 338, 354]
                },
                {
                  borderColor: "#f17e5d",
                  backgroundColor: "#f17e5d",
                  pointRadius: 0,
                  pointHoverRadius: 0,
                  borderWidth: 3,
                  data: [320, 340, 365, 360, 370, 385, 390, 384, 408, 420]
                },
                {
                  borderColor: "#fcc468",
                  backgroundColor: "#fcc468",
                  pointRadius: 0,
                  pointHoverRadius: 0,
                  borderWidth: 3,
                  data: [370, 394, 415, 409, 425, 445, 460, 450, 478, 484]
                }
                ]
              },
              options: {
                legend: {
                  display: false
                },
      
                tooltips: {
                  enabled: false
                },
      
                scales: {
                  yAxes: [{
      
                    ticks: {
                      fontColor: "#9f9f9f",
                      beginAtZero: false,
                      maxTicksLimit: 5,
                      //padding: 20
                    },
                    gridLines: {
                      drawBorder: false,
                      zeroLineColor: "#ccc",
                      color: 'rgba(255,255,255,0.05)'
                    }
      
                  }],
      
                  xAxes: [{
                    barPercentage: 1.6,
                    gridLines: {
                      drawBorder: false,
                      color: 'rgba(255,255,255,0.1)',
                      zeroLineColor: "transparent",
                      display: false,
                    },
                    ticks: {
                      padding: 20,
                      fontColor: "#9f9f9f"
                    }
                  }]
                },
              }
            });
      */
      ctx = document.getElementById('chartEmail').getContext("2d");

      pieLabels = {{labelProdsPie|tojson}};
      pieData = {{cantProdsPie|tojson}};

      myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: pieLabels,
          datasets: [{
            label: "Productos Vendidos",
            pointRadius: 0,
            pointHoverRadius: 0,
            backgroundColor: [
              
              '#fcc468',
              '#e3e3e3',
              '#4acccd',
              '#fcc468',
              '#ef8157',
              '#e3e3e3',
              '#4acccd',
              '#fcc468',
              '#ef8157',
              '#e3e3e3',
              '#4acccd',
              '#fcc468',
              '#ef8157',
              '#e3e3e3',
              '#4acccd',
            ],
            borderWidth: 0,
            data: pieData
          }]
        },

        options: {

          legend: {
            display: true
          },

          pieceLabel: {
            render: 'percentage',
            fontColor: ['white'],
            precision: 2
          },

          tooltips: {
            enabled: true
          },

          scales: {
            yAxes: [{

              ticks: {
                display: false
              },
              gridLines: {
                drawBorder: false,
                zeroLineColor: "transparent",
                color: 'rgba(255,255,255,0.05)'
              }

            }],

            xAxes: [{
              barPercentage: 1.6,
              gridLines: {
                drawBorder: true,
                color: 'rgba(255,255,255,0.1)',
                zeroLineColor: "transparent"
              },
              ticks: {
                display: true,
              }
            }]
          },
        }
      });


      ctx = document.getElementById('chartMerma').getContext("2d");

      pieMermaLabels = {{labelMermasPie|tojson}};
      pieMermaData = {{cantMermasPie|tojson}};

      myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: pieMermaLabels,
          datasets: [{
            label: "Productos Mermados",
            pointRadius: 0,
            pointHoverRadius: 0,
            backgroundColor: [
              '#e3e3e3',
              '#4acccd',
              '#fcc468',
              '#e3e3e3',
              '#4acccd',
              '#fcc468',
              '#ef8157',
              '#e3e3e3',
              '#4acccd',
              '#fcc468',
              '#ef8157',
              '#e3e3e3',
              '#4acccd',
              '#fcc468',
              '#ef8157'
            ],
            borderWidth: 0,
            data: pieMermaData
          }]
        },

        options: {

          legend: {
            display: true
          },

          pieceLabel: {
            render: 'percentage',
            fontColor: ['white'],
            precision: 2
          },

          tooltips: {
            enabled: true
          },

          scales: {
            yAxes: [{

              ticks: {
                display: false
              },
              gridLines: {
                drawBorder: false,
                zeroLineColor: "transparent",
                color: 'rgba(255,255,255,0.05)'
              }

            }],

            xAxes: [{
              barPercentage: 1.6,
              gridLines: {
                drawBorder: true,
                color: 'rgba(255,255,255,0.1)',
                zeroLineColor: "transparent"
              },
              ticks: {
                display: true,
              }
            }]
          },
        }
      });


      ctx = document.getElementById('chartPres').getContext("2d");

      piePresLabels = {{labelPresPie|tojson}};
      piePresData = {{cantPresPie|tojson}};

      myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: piePresLabels,
          datasets: [{
            label: "Productos Mermados",
            pointRadius: 0,
            pointHoverRadius: 0,
            backgroundColor: [
              '#e3e3e3',
              '#4acccd',
              '#fcc468',
              '#e3e3e3',
              '#4acccd',
              '#fcc468',
              '#ef8157',
              '#e3e3e3',
              '#4acccd',
              '#fcc468',
              '#ef8157',
              '#e3e3e3',
              '#4acccd',
              '#fcc468',
              '#ef8157'
            ],
            borderWidth: 0,
            data: piePresData
          }]
        },

        options: {

          legend: {
            display: true
          },

          pieceLabel: {
            render: 'percentage',
            fontColor: ['white'],
            precision: 2
          },

          tooltips: {
            enabled: true
          },

          scales: {
            yAxes: [{

              ticks: {
                display: false
              },
              gridLines: {
                drawBorder: false,
                zeroLineColor: "transparent",
                color: 'rgba(255,255,255,0.05)'
              }

            }],

            xAxes: [{
              barPercentage: 1.6,
              gridLines: {
                drawBorder: true,
                color: 'rgba(255,255,255,0.1)',
                zeroLineColor: "transparent"
              },
              ticks: {
                display: true,
              }
            }]
          },
        }
      });

      var speedCanvas = document.getElementById("speedChart");

      var dataFirst = {
        data: [0, 19, 15, 20, 30, 40, 40, 50, 25, 30, 50, 70],
        fill: false,
        borderColor: '#fbc658',
        backgroundColor: 'transparent',
        pointBorderColor: '#fbc658',
        pointRadius: 4,
        pointHoverRadius: 4,
        pointBorderWidth: 8,
      };

      var dataSecond = {
        data: [0, 5, 10, 12, 20, 27, 30, 34, 42, 45, 55, 63],
        fill: false,
        borderColor: '#51CACF',
        backgroundColor: 'transparent',
        pointBorderColor: '#51CACF',
        pointRadius: 4,
        pointHoverRadius: 4,
        pointBorderWidth: 8
      };

      var speedData = {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [dataFirst, dataSecond]
      };

      var chartOptions = {
        legend: {
          display: false,
          position: 'top'
        }
      };

      var lineChart = new Chart(speedCanvas, {
        type: 'line',
        hover: false,
        data: speedData,
        options: chartOptions
      });
    }
    );
  </script>

  <script src="{{ url_for('static', filename='assets/js/socket.io.js') }}" type="text/javascript"></script>
  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function () {
      console.log('Conectado al servidor');
      console.log('http://' + document.domain + ':' + location.port);
    });

    socket.on('receive_message', function (message) {
      // Maneja el mensaje recibido
      console.log('recibido');
      document.getElementById("alerta").innerHTML = "";
      document.getElementById("alerta").innerHTML = "<div class='alert alert-info'><strong>Nueva solicitud de produccion</strong> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>";
    });

  </script>
  {% endblock %}